/*お問い合わせ*/

.image{
    background-image: url(../img/mv.png);
    height: 270px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-text{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}