*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header-header{
    background: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 0 0;
    
}
.header-title{
     
    height: 50px;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 30px;
    
}

.header-nav-list {
    display: flex;
    font-weight: bold;
    width: 70;
    width: 700px;
    justify-content: space-evenly;
    
}

.header-nav{
    padding: 10px;
}

@media screen and (max-width:769px){
    a{
        text-decoration: none;
        color: blue
      }
      .nav{
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        background: #eee;
        transition: .7s;
        text-align: center;
      }
      .nav ul{
        padding-top: 80px;
      }
      .nav ul li{
        list-style-type: none;
        margin-top: 50px;
      }
      .menu {
        display: inline-block;
        width: 36px;
        height: 32px;
        cursor: pointer;
        position: relative;
        left: 700px;
        top: 20px;
      }
      .menu__line--top,
      .menu__line--middle,
      .menu__line--bottom {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
      }
      .menu__line--top {
        top: 0;
      }
      .menu__line--middle {
        top: 14px;
      }
      .menu__line--bottom {
        bottom: 0;
      }
      .menu.open span:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
      }
      .menu.open span:nth-of-type(2) {
        opacity: 0;
      }
      .menu.open span:nth-of-type(3) {
        top: 14px;
        transform: rotate(-45deg);
      }
      .in{
        transform: translateX(100%);
      }
    
}
  
  
/*-------------------header-----------------------------*/


    
.main{
    background-image: url(../img/mv.png);
    height: 50vh;
    width: auto;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}



.main-item{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

.main-item1{
    font-size: 20px;
    color: #fff;
    margin: 20px;
}

.description{
    background: #000;
    height: 300px;
    text-align:left;
}

.description-item{
    color:#fff;
    padding: 50px 0 30px 100px;
    font-size: 30px;
    font-weight: bold;
}

.description-item1{
    color:#fff;
    padding: 0 100px 30px 100px;
    font-size: 20px;
}

.service{
    font-size: 30px;
    text-align: center;
    margin: 50px;
    font-weight: bold;
}




.newset1-text{
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.newset2-text{
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.newset3-text{
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.newset4-text{
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.newset{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    
}

@media screen and (min-width:1440px){
    .newset{
        margin: 0 100px 0;
    }
}

.newset li{
    width: calc(100%/2);
    box-sizing:border-box;
}

.newset li img{
    max-width:100%;
    height: auto;
}


.newset1{
    margin: 0 10px 0 0;
}

.newset2{
    margin: 0 0 0 10px;
}

.newset3{
    margin: 0 10px 0 0;
}

.newset4{
    margin: 0 0 0 10px;
}

.box{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 100px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.bg{
    background: #000;
    height: 400px;
    width: auto;
    margin: 70px 0 0 0;

}


.bg-item{
    display: flex;
    justify-content: space-between;
}

.bg-item-object{
    color:#fff;
    font-size:30px;
    margin: 70px 100px 0 100px;
    font-weight: bold;
}

.bg-item-object1{

    width: 200px;
    height: 50px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 50px 0;
    margin: 50px 100px 10px 0;
    font-weight: bold;
}

.bg-item-1 span{
    font-weight: bold;
}

.bg-item-text{
    padding: 15px 0 0 30px;
}

.bg-item-2 span{
    font-weight: bold;
}

.bg-item-text2{
    padding: 15px 0 0 30px;
}

.bg-item-3 span{
    font-weight: bold;
}

.bg-item-text3{
    padding: 15px 0 0 30px;
}

.bg-items{

}

.bg-item-1{
    background-color: #fff;
    height: 50px;
    margin: 0 100px 10px;
}
.bg-item-1.span{
    font-weight: bold;
}

.bg-item-2{
    background-color: #fff;
    height: 50px;
    margin: 0 100px 10px;
}

.bg-item-3{
    background-color: #fff;
    height: 50px;
    margin: 0 100px 10px;
}

.burogu{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 70px 0 30px 0;
}



.top-banner{
    
}


@media screen and (min-width:1400px){
    .top-banner{
        margin:0 100px 0 100px;
    }
}

@media screen and (min-width:1000px){
    .top-banner{
        display: flex;
    flex-wrap:nowrap;
    list-style: none;
    
    justify-content: space-between;
    }
}


@media screen and (min-width:400px){
    .top-banner{
        display: block;
        margin:0 50px 0;
    }

.top-banner li{
    width: 31%;
    box-sizing:border-box;
}

.top-banner li img{
    max-width:100%;
    height: auto;
}

.top1{
    
}


.top2{
    
}

.top3{
    
}

.top-banner-text{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.top-banner-text2{
    font-size:20px;
    font-weight:bold;
}

.top-banner1-text{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.top-banner1-text2{
    font-size:20px;
    font-weight:bold;
}

.top-banner3-text{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.top-banner3-text2{
    font-size:20px;
    font-weight:bold;
}

.service1{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 70px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.bg1{
    display: flex;
    text-align: center;
    margin:50px 0 0 0;
}

.bg1-item{
    background:red;
    width: 50%;
    height: 300px;
    color:#fff;
    font-size:30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1-item1{
    background: #000;
    width: 50%;
    height: 300px;
    color:#fff;
    font-size:30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    background: #eeeeee;
    text-align:center;
    margin: 70px 0 0 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item{
    font-size:40px;
    font-weight: bold;
}

.contact-item1{
    margin: 20px 0 0 0;
    font-size: 20px;

}

.contact-item2{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.last{
    display: flex;
    background: #000;
    height: 100px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.last-items{
    display: flex;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
    
    
}

.last-item{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
}

.last-item1{
    border-right: 3px solid;
}

.last-item2{
    border-right: 3px solid;
}

.last-item3{
    border-right: 3px solid;
}

.last-item4{
    border-right: 3px solid;
}

.last-item5{
    border-right: 3px solid;
}

.last-item6{
    border-right: 3px solid;

}

.last-item7{
    
}