/*ニュース*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header-nav-item-link{
    color:#000000!important;
}

.bg-item-text{
    color:#000000!important;
}

.bg-item-text2{
    color:#000000!important;
}

.bg-item-text3{
    color:#000000!important;
}

.header-title{
    color:#000000!important;
}


.last-items li{
    color:#eeeeee!important;
}

.header-header{
    background: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 0 0;
    
}
.header-title{
     
    height: 50px;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 30px;
    
}

.header-nav-list {
    display: flex;
    font-weight: bold;
    width: 70;
    width: 700px;
    justify-content: space-evenly;
    
}

.header-nav{
    padding: 10px;
}



@media screen and (min-width:769px){
    .dorower{
        display: none;
    }
    }
    
    
    @media screen and (max-width:768px){
        .header-nav-list{
            display: none;
        }
    }
    @media screen and (max-width:769px){
        a{
            text-decoration: none;
            color: blue
          }
          .nav{
            position: absolute;
            height: 4500px;
            width: 100%;
            left: -100%;
            background: #eee;
            transition: .7s;
            text-align: center;
            position: fixed;  
            
          }
          .nav ul{
            padding-top: 80px;
          }
          .nav ul li{
            list-style-type: none;
            margin-top: 50px;
            
          }
          .menu {
            display: inline-block;
            width: 36px;
            height: 32px;
            cursor: pointer;
            position: relative;
            right: 5%;
            position: fixed;
            top: 20px;
            
          }
          .menu__line--top,
          .menu__line--middle,
          .menu__line--bottom {
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: #000;
            position: absolute;
            transition: 0.5s;
          }
          .menu__line--top {
            top: 0;
          }
          .menu__line--middle {
            top: 14px;
          }
          .menu__line--bottom {
            bottom: 0;
          }
          .menu.open span:nth-of-type(1) {
            top: 14px;
            transform: rotate(45deg);
          }
          .menu.open span:nth-of-type(2) {
            opacity: 0;
          }
          .menu.open span:nth-of-type(3) {
            top: 14px;
            transform: rotate(-45deg);
          }
          .in{
            transform: translateX(100%);
          }
        
    }
      
      
    /*-------------------header-----------------------------*/
    


.image{
    background-image: url(../img/mv.png);
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: right 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.contact{
    background: #eeeeee;
    text-align:center;
    margin: 70px 0 0 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-item1{
    background-color: #fff;
    width: auto;
    height: 300px;
    margin: 100px 150px 100px 150px;
    list-style: none;
}

.bg-items{
    
}

.bg-item-1{
    display: flex;
    border: solid 1px #000;
    padding: 30px 0 30px 20px;
    margin: 0 0 20px 0;
}

@media screen and (max-width:768px){
    .bg-item1{ 
        background-color: #fff;
        width: auto;
        height: 300px;
        margin: 100px 40px 100px 40px;
        list-style: none;
         
    } 
 }
 

.bg-item-text{
    font-size: 30px;
}

@media screen and (max-width:768px){
    .bg-item-text{ 
        font-size: 16px;  
         
    } 
 }
 

.bg-item-text span{
    font-weight: bold;
}

.bg-item-2{
    display: flex;
    border: solid 1px #000;
    padding: 30px 0 30px 20px;
    margin: 0 0 20px 0;
}

.bg-item-text2{
    font-size: 30px;
}


@media screen and (max-width:768px){
    .bg-item-text2{ 
        font-size: 16px;  
         
    } 
 }
 


.bg-item-text2 span{
    font-weight: bold;
}

.bg-item-3{
    display: flex;
    border: solid 1px #000;
    padding: 30px 0 30px 20px;
}

.bg-item-text3{
    font-size: 30px;
}

@media screen and (max-width:768px){
    .bg-item-text3{ 
        font-size: 16px;  
         
    } 
 }
 

.bg-item-text3 span{
    font-weight: bold;
}

.contact-item{
    font-size:40px;
    font-weight: bold;
}

.contact-item1{
    margin: 20px 0 0 0;
    font-size: 20px;

}

.contact-item2{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}

/*---------------------------footer------------------------*/

.last{
    display: flex;
    background: #000;
    height: 100px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:768px){
   .last{ 
    
    background: #000;
    height: 200px;
    font-size: 10px;
    
    
    
    
   } 
}


.last-items{
    display: flex;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
    
    
}

@media screen and (max-width:769px){
    .last-items{
        width: 50%;
        list-style: none;
        line-height: 25px;
        color: #fff;
        display: unset;
        margin: 10px;
        text-align: center;
    }
}

.last-item{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
}

.last-item1{
    border-right: 3px solid;
}

.last-item2{
    border-right: 3px solid;
}

.last-item3{
    border-right: 3px solid;
}

.last-item4{
    border-right: 3px solid;
}

.last-item5{
    border-right: 3px solid;
}

.last-item6{
    border-right: 3px solid;

}

.last-item7{
    
}