/*採用情報*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-header{
    background: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 0 0;
    
}
.header-title{
     
    height: 50px;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 30px;
    
}

.header-nav-list {
    display: flex;
    font-weight: bold;
    width: 70;
    width: 700px;
    justify-content: space-evenly;
    
}

.header-nav{
    padding: 10px;
}

.image{
    background-image: url(../img/mv.png);
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: right 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.main-text{
    font-size: 40px;
    border-bottom: 1px solid #000;
    margin: 100px 150px 0 150px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.text{
    font-size: 20px;
    margin: 30px 150px 30px 150px;

}

.list{

}

.list-text{
    font-size: 30px;
}

.list-text span{
    font-weight: bold;
    font-size: 30px;
}

.list-text{
    font-size: 30px;

}

.list-text2 span{
    font-weight: bold;
    font-size: 30px;
}

.list-text3{
    font-size: 30px;
}

.list-text3 span{
    font-weight: bold;
    font-size: 30px;
}

.list-text4{
    font-size: 30px;
}

.list-text4 span{
    font-weight: bold;
    font-size: 30px;
}

.main2-text{
    font-size: 40px;
    border-bottom: 1px solid #000;
    margin: 100px 150px 0 150px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.text2{
    font-size: 20px;
    margin: 30px 150px 30px 150px;
}

.list2{

}

.list2-text{
    font-size: 30px;
}

.list2-text span{
    font-weight: bold;
    font-size: 30px;
}

.list2-text2{
    font-size: 30px;
}

.list2-text2 span{
    font-weight: bold;
    font-size: 30px;
}

.list2-text3{
    font-size: 30px;
}

.list2-text3 span{
    font-weight: bold;
    font-size: 30px;
}

.list2-text4{
    font-size: 30px;
}

.list2-text4 span{
    font-weight: bold;
    font-size: 30px;
}


.contact{
    background: #eeeeee;
    text-align:center;
    margin: 70px 0 0 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item{
    font-size:40px;
    font-weight: bold;
}

.contact-item1{
    margin: 20px 0 0 0;
    font-size: 20px;

}

.contact-item2{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.last{
    display: flex;
    background: #000;
    height: 80px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.last-items{
    display: flex;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
    
    
}

.last-item{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
}

.last-item1{
    border-right: 3px solid;
}

.last-item2{
    border-right: 3px solid;
}

.last-item3{
    border-right: 3px solid;
}

.last-item4{
    border-right: 3px solid;
}

.last-item5{
    border-right: 3px solid;
}

.last-item6{
    border-right: 3px solid;

}

.last-item7{
    
}