/*事業内容*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-header{
    background: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 0 0;
    
}
.header-title{
     
    height: 50px;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 30px;
    
}

.header-nav-list {
    display: flex;
    font-weight: bold;
    width: 70;
    width: 700px;
    justify-content: space-evenly;
    
}

.header-nav{
    padding: 10px;
}


.image{
    background-image: url(../img/mv.png);
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: right 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


@media screen and (max-width:769px){
    .main{

    flex-wrap: wrap;
    }
}


.main{
    display: flex;
    
    background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    border-top: 2px solid;
    margin: 70px 150px 0 150px;
}

.main1{
    display: flex;
    
    background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    border-top: 2px solid;
    margin: 0px 150px 0 150px;
}

.main2{
    display: flex;
    
    background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    border-top: 2px solid;
    margin: 0px 150px 0 150px;

}

.main3{
    display: flex;
   
    background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    border-top: 2px solid;
    margin: 0px 150px 0 150px;
    border-bottom: 2px solid;
}

.main-text-item{
    font-weight: bold;
    margin: 40px 0 10px 0;
    font-size: 25px;
}

.main1-text-item{
    font-weight: bold;
    margin: 40px 0 10px 0;
    font-size: 25px;
}

.main2-text-item{
    font-weight: bold;
    margin: 40px 0 10px 0;
    font-size: 25px;
}

.main3-text-item{
    font-weight: bold;
    margin: 40px 0 10px 0;
    font-size: 25px;
}

.main-image img{
    height: 200px;
    width: auto;
    margin: 30px 30px 30px 0;
}

.main1-image img{
    height: 200px;
    width: auto;
    margin: 30px 30px 30px 0;
}

.main2-image img{
    height: 200px;
    width: auto;
    margin: 30px 30px 30px 0;
}

.main3-image img{
    height: 200px;
    width: auto;
    margin: 30px 30px 30px 0;
}

.contact{
    background: #eeeeee;
    text-align:center;
    margin: 70px 0 0 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item{
    font-size:40px;
    font-weight: bold;
}

.contact-item1{
    margin: 20px 0 0 0;
    font-size: 20px;

}

.contact-item2{
    width: 300px;
    padding: 20px 0;
    color: #fff;
    border-radius: 0px;
    background: red;
    text-align: center;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.last{
    display: flex;
    background: #000;
    height: 80px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.last-items{
    display: flex;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
    
    
}

.last-item{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
}

.last-item1{
    border-right: 3px solid;
}

.last-item2{
    border-right: 3px solid;
}

.last-item3{
    border-right: 3px solid;
}

.last-item4{
    border-right: 3px solid;
}

.last-item5{
    border-right: 3px solid;
}

.last-item6{
    border-right: 3px solid;

}

.last-item7{
    
}